<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
</head>
<body>

    <!-- Top Navigation Bar -->
<nav class="top-navbar">
    <div class="nav-left">
        <span class="brand"><a href="{{ site.baseurl }}/">Moments in Nature by Shane Haynes</a></span>
    </div>
    <div class="nav-right">
        <a href="https://shanehaynes.github.io/OutdoorBlog/">Outdoor Blog</a>
    </div>
</nav>

    <!-- Page Header -->
    <header class="site-header">
        <h1>{{ page.title }}</h1>
    </header>

    <!-- Secondary Navigation Bar -->
    <nav class="secondary-navbar">
        <a href="{{ site.baseurl }}/">All</a>
        <a href="{{ site.baseurl }}/landscape.html">Landscape</a>
        <a href="{{ site.baseurl }}/sending-and-shredding.html">Adventure</a>
        <a href="{{ site.baseurl }}/portraits.html">Portraits</a>
        <a href="{{ site.baseurl }}/flora-and-fauna.html">Flora and Fauna</a>
    </nav>

    <!-- Page Content -->
    <main>
        {{ content }}
    </main>

<!-- Lightbox for Image Viewer -->
<div id="lightbox" class="lightbox">
    <div class="lightbox-content">
        <span id="prev-arrow" class="lightbox-arrow">&#10094;</span> <!-- Left Arrow -->
        <img id="lightbox-image" src="" alt="">
        <span id="next-arrow" class="lightbox-arrow">&#10095;</span> <!-- Right Arrow -->
        <p id="lightbox-description"></p>
    </div>
</div>

    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
</body>
</html>
